<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/egora/IdeaProjects/TestNG">
        <classes>
            <class name="Page"></class>
            <class name="Registration"></class>
            <class name="Authorization"></class>
            <class name="Crud"></class>
        </classes>
    </test>
</suite>